.header {
  display: flex;
  justify-content: space-between;
  background-color: #33658a;
  height: 5vh;
  margin: 0;
  padding: 2%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navContainer {
  display: flex;
  justify-content: space-around;
  /* align-self: center;
  justify-self: flex-end; */
}

.about-nav {
  background-color: #86bbd8d3;
  border-radius: 1px;
  height: 5vh;
}

.capsule-nav {
  background-color: #86bbd8d3;
  border-radius: 1px;
  height: 5vh;
  width: 20vw;
}

.stats-nav {
  background-color: #86bbd8d3;
  border-radius: 1px;
  margin-right: 40%;
  height: 5vh;
}
