.header {
  display: flex;
  justify-content: space-between;
  background-color: #33658a;
  height: 5vh;
  margin: 0;
  padding: 2%;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  /* align-self: center;
  justify-self: flex-end; */
}
.logo {
  align-self: center;
}
.about-nav,
.capsule-nav,
.home-nav {
  align-self: center;
  background-color: #86bbd8d3;
  color: black;
  border-radius: 1px;
  padding: 10px;
  margin: 10px;
  height: 100%;
  border-right: 40px outset orange;
  border-radius: 40px;
  -webkit-box-shadow: 1px 5px 8px 1px #000000;
  box-shadow: 1px 5px 8px 1px #000000;
}

.about-nav:hover,
.capsule-nav:hover,
.home-nav:hover {
  -webkit-box-shadow: 1px 5px 8px 1px orange;
  box-shadow: 1px 5px 8px 1px orange;
}
