.container {
}
.text-form,
.link-form,
.img-form {
  display: flex;
  flex-direction: column;
  height: 50%;
  height: 20vh;
  align-self: center;
}

.textbox,
.linkbox,
.imgbox {
  height: 50%;
  border-radius: 20px;
  text-align: center;
}

.submitCap {
  border: none;
  background-color: orange;
  color: white;
  border-radius: 10px;
}

.type-btn {
  border: none;
  margin: 2em;
  width: 10vw;
  background-color: orange;
  color: white;
  border-radius: 10px;
}

.content {
  display: grid;
  grid-template-rows: 50% 30vh;
  grid-template-columns: auto;
  justify-items: center;
  align-items: center;
}
.text-reward {
  height: 100%;
  width: 100%;
  background-color: darkgoldenrod;
}

.imgReward {
  grid-row: 1/2;
}

.social {
  display: flex;
  grid-row: 2/3;
}

.delete {
  grid-column: 2/3;
  grid-row: 2/3;
  border: none;
  margin: 2em;
  width: 10vw;
  background-color: orange;
  color: white;
  border-radius: 10px;
}

.contrib {
  width: 100%;
  height: 100%;
  text-align: center;
}
