a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: rgb(236, 215, 176);
}

button {
  outline: none;
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
  -webkit-box-shadow: 1px 5px #000000;
}

button:hover {
  cursor: pointer;
}

button:hover,
input:hover {
  background-color: rgb(240, 204, 138);
}

input:focus {
  background-color: rgb(240, 204, 138);
}

input {
  outline: none;
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
  -webkit-box-shadow: 1px 5px #000000;
}

.social-btn {
  -webkit-box-shadow: none;
}

.social-btn:hover {
  -webkit-box-shadow: inset 4px 4px 50px 16px rgba(0, 0, 0, 0.79);
  box-shadow: inset 4px 4px 50px 16px rgba(0, 0, 0, 0.79);
  border-radius: 50px;
}
