a {
  text-decoration: none;
  color: orange;
}

button {
  outline: none;
  font-family: 'Bebas Neue', cursive;
}

button:hover,
input:hover {
  background-color: rgb(240, 204, 138);
}

input:after {
  background-color: rgb(240, 204, 138);
}

input {
  outline: none;
  font-family: 'Bebas Neue', cursive;
}
