a {
  text-decoration: none;
  color: orange;
}

a:hover {
  color: rgb(236, 215, 176);
}

button {
  outline: none;
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

button:hover,
input:hover {
  background-color: rgb(240, 204, 138);
}

input:focus {
  background-color: rgb(240, 204, 138);
}

input {
  outline: none;
  font-family: 'Bebas Neue', cursive;
  padding: 5px;
}
